<h2>Shoo Orders</h2>

<% @shoos.each do |shoo| %>
  <b>Name:</b>
  <p><%= shoo.name %></p>
  <b>Size:</b>
  <p><%= shoo.address %></p>
  <b>Quantity:</b>
  <p><%= shoo.quantity %></p>
  <b>Size:</b>
  <p><%= shoo.size %></p>
  <hr>
<% end %>
